.emails-editor { background: white; min-height: 80px; white-space: nowrap; display: flex; flex-wrap: wrap; align-content: flex-start; }
.emails-editor__email { position: relative; margin-right: 4px; max-width: 100%; box-sizing: border-box; margin-bottom: 3px; height: 24px; cursor: text; }
.emails-editor__email::before { content: ""; position: absolute; left: 100%; width: 4px; top: 0; bottom: 0; }
.emails-editor__email-btn-remove { margin-left: 3px; cursor: pointer; }
.emails-editor__email-btn-remove::after { content: "\D7"; }
.emails-editor__email--valid { padding-left: 10px; padding-right: 7px; background-color: rgba(102, 152, 255, 0.2); border-radius: 12px; }
.emails-editor__email--invalid::after { content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 100%; border-bottom: 1px dashed #d14836; }